<%- include extend/sb_header %>

	<div id="page-inner">
             <div class="row">
                <div class="col-md-12">
                    <!--<div class="col-md-2">
                      <button type="button" id="back" name="back" class="btn btn-primary btn-sm" onClick="back()">
                        <img src="icons/back.png" width="ˇ30" height="30"/> Back
                      </button>
                    </div>-->
                    

                    <div class="col-md-12 column">

                      <table id="table1" class="display" cellspacing="0" width="100%">
                                  <thead>
                                      <tr style="color:#428bca">
                                        <th>項目</th>
                                        <th>時間</th>
                                        <th>資料</th>
                                        <% for(var i=0;i<field.length ;i++){ %>
                                            <th><%= field[i] %></th>
                                        <% } %>
                                      </tr>
                                  </thead>
                              </table>
                    </div>
                </div>
                <div class="col-md-12">
                  <div id="main" style="width: 100%;height:600px;"></div>
                </div>
          </div>
          <input id="mac" name="mac" value="<%= mac%>" type="hidden">
          <input id="date" name="date" value="<%= date%>" type="hidden" >
          <input id="option" name="option" value="<%= option%>" type="hidden" >
          <input id="field" name="field" value="<%= JSON.stringify(field)%>" type="hidden" >
          <!-- /. ROW  -->
        </div>

<%- include extend/sb_footer %>