<%- include extend/sb_header %>
	<% if(finalList === null ){ %>
	    尚無上報資料
	<% }else{ %>
		<!-- Select Map -->
		<div class="col-md-3">
			<label>裝置類型</label>
			<select  onChange= "changeMap(this.options[this.selectedIndex].value)">
				<% for(var i=0;i<maps.length ;i++){ %>
				    <option value="<%=  maps[i].deviceType%>" selected><%=  maps[i].typeName%></option>
			    <% } %>
			</select>
		</div> <!-- col-md-3 -->

		<!-- Select Date -->
		<div class="col-md-3">
			<label>選擇日期</label>
			<input type="text" id="date" name="date" size="10" readonly>
			<input type="button" value="..." id="BTN" name="BTN">
		</div>

		<!-- Select Range -->
		<div class="col-md-6">
			<label>查詢範圍</label>
			<select id="option" name="option">
				<option value="0" selected>一天</option>
				<option value="1">一周</option>
				<option value="2">一月</option>
			</select>
		</div> <!-- col-md-6 -->
		<br>
		<hr>

		<div class="col-md-12">
			<table id="table1"  class="display" cellspacing="0" width="100%">
				<thead>
					<tr style="color:#428bca">
					<th>項目</th>
					<th>裝置識別編號</th>
					<th>日期</th>
					<th>裝置類型</th>
					<th>狀態</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0;i<finalList.length ;i++){ %>
						<tr>
							<td><%= i+1%></td>
							<td><%= finalList[i].macAddr%></td>
							<td><%= finalList[i].date%></td>
							<td><%= finalList[i].typeName%></td>
							<td>
							<% if(finalList[i].overtimr){ %>
								<img src="/icons/connection_fail.png" width="ˇ30" height="30" name="status">
							<% }else{ %>
								<img src="/icons/connection_ok.png" width="30" height="30" name="status">
							<% } %>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
			<input id="devices" name="devices" value="<%= JSON.stringify(devices)%>" type="hidden">
			<input id="maps" name="maps" value="<%= JSON.stringify(devices)%>" type="hidden">
		</div>

		

	<% } %>

<%- include extend/sb_footer %>